body {
  margin: 0;
}

/* Start Styles for top header */
.topheader {
  background-color: #e96d20;
  margin: 0;
}

#leftSectionOfTopNavBar p{
font-size: 20px;
}

/* Styles to hide search bar when pages resizes */
@media (max-width: 1025px) {
  #searchBar {
    display: none;
  }
}

@media (max-width: 761px) {
  #leftSectionOfTopNavBar {
    margin-left: 200px;
    text-align: center;
  }

  #videoBtn {
    display: none;
  }

  #viewBlogs {
    display: none;
  }


}
/* End of styles for top Header bar */


/* Styles start for main navigation */

#navLinks a {
   font-size: 20px;
   color: black;
}

#navLinks a:hover{
  font-size: 25px;
  color: #e96d20;
}

#searchIconBtn:hover{
  cursor: pointer;
  color: #e96d20;
}

#navLinks{
  display: flex;
   align-items: "center";
  padding: "5px";
 
}

#navBarContanier{
 margin-top: 30px;
  
}


#menuIcon{
font-size: 35px;
cursor: pointer;
display: none;
}


@media (max-width: 1123px) {
  #navBarContanier{
    margin-right: 35px;
   }
  
}
