body {
  margin: 0;
}

/* Start Styles for top header */
.topheader {
  background-color: #e96d20;
  margin: 0;
}

#leftSectionOfTopNavBar p {
  font-size: 20px;
}

/* Styles to hide search bar when pages resizes */
@media (max-width: 1025px) {
  #searchBar {
    display: none;
  }
}

@media (max-width: 761px) {
  #leftSectionOfTopNavBar {
    margin-left: 200px;
    text-align: center;
  }

  #videoBtn {
    display: none;
  }

  #viewBlogs {
    display: none;
  }
}

/* End of styles for top Header bar */

/* Styles start for main navigation */

#navLinks a {
  font-size: 20px;
  color: black;
}

#navLinks a:hover {
  font-size: 25px;
  color: #e96d20;
}

#searchIconBtn:hover {
  cursor: pointer;
  color: #e96d20;
}

#navLinks {
  display: flex;
  align-items: "center";
  padding: "5px";
}

#navBarContanier {
  margin-top: 30px;
}

#sideBarBtn {
  font-size: 35px;
  cursor: pointer;
  display: none;
}

/* Styles End for Main navigation  */

/* Styles for upload blogs form */

#BlogUpload-Form {
  background-color: #e96d20;
  margin-top: 30px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  width: 60%;
  /* color: white; */
}

/* End styles for upload blog */

#Modal-Box-style {
  color: white;
  background-color: "rgb(233,109,32) ";
}

/* Start Styles for logo  */
@media (max-width: 950px) {
  #navBarContanier {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center content horizontally */
  }

  #logo-Section {
    text-align: center;
    /* Center text inside the logo section */
    width: 100%;
    /* Ensure it takes up full width to align centrally */
    margin: 0 auto;
    /* Center the logo section itself */
  }
}

/* End Styles for logo  */

/* Style for cards on home page */
#cardStyle {
  display: "flex";
  height: 100%;
  width: 60%;
  text-align: center;
  flex-direction: column;
}

#Nav-Bar-Section {
  background-color: white;
  color: black;
}

/* Styles for the right side  Coloum */
#rightColoumHomePage {
  padding: 2;
  position: absolute;
  margin-left: 100px;
  top: 39.5%;
  left: 60%;
}

#authorImage {
  width: 50%;
  border-radius: 60%;
}

@media (max-width: 760px) {
  #rightColoumHomePage {
    display: none;
  }
}

/* style to make the the left coloum 100% of the view port 
when viewport resizes */
@media (max-width: 760px) {
  #cardStyle {
    width: 100%;
  }
}

@media (max-width: 950px) {
  #sideBarBtn {
    font-size: 35px;
    cursor: pointer;
    display: block;
  }

  #navLinks {
    display: none;
  }

  #searchIconBtn {
    display: block;
  }
}

@media (max-width: 1066px) {
  #sideBarBtn {
    font-size: 35px;
    cursor: pointer;
    display: block;
  }

  #navLinks {
    display: none;
  }

  #searchIconBtn {
    display: block;
  }
}

@media (max-width: 1123px) {
  #navBarContanier {
    margin-right: 35px;
  }
}
